.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  width: 100%
}

.Comision {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 1rem;
}

.Comision-table {
  padding: 5vh;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

#columna-check {
  padding-left: 10.5vw;
}

#columna-apellidonombre {
  padding-top: 1.5vh;
  padding-left: 10.5vw;
}

#descripcion-asistencias {
  padding-left: 7.5vw;
}


#descripcion-estudiante {
  padding-left: 10.5vw;
}

#descripcion-edicion-estudiante {
  padding-left: 3vw;
}

#descripcion-edicion-estudiante-editar {
  padding-left: 3vw;
}

.porcentajeAsistencia {
  font-size: normal;
  padding: 1rem;
}

.porcentajeToShow {
  color: crimson;
  font-size: larger;
  font-weight: normal;
}

.card-panel {
  padding: 2rem;
}

.tealRed {
  background-color: #9f283b !important;
  border-radius: 1%;
}

.tealGreen {
  background-color: #1f849c !important;
}

.image-logo {
  margin: .5rem;
  max-width: 10rem;
  max-height: 10rem;
}

.nav-wrapper {
  background-color: #dad9d5;
}

#nav-var-web {
  color: #9f283b;
}

#nav-var-mob {
  color: #dad9d5;
  font-size: large;
  margin: 5vw -2.5vh;
}

#boton-save-attendance {
  margin-top: 3rem;
  height: 7vh;
  width: 66vw;
}

#boton-change-daycheck {
  color: #9f283b;
  height: 5vh;
  width: 15vw;
  margin-bottom: .1vh;
}

#boton-change-daycheck:focus {
  background-color: #1f849c;
  color: #dad9d5;
}

.titulo-tabla {
  padding: 2rem;
  margin: .2rem;
  color: #1f849c;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
}

.sidenav {
  background-color: #1f849c;
  border-radius: 0 0 100% 0;
}

.breadcrumb {
  padding: .1rem;
  color: #9f283b;
}

.dropdown-trigger {
  color: #9f283b;
}

.dropdown-content {
  color: #1f849c;
  font-weight: normal;
}

.passAttendanceTable {
  width: 75vw;
}

#editComisionTable {
  width: 80vw;
  font-size: small;
  margin-left: 10vw;
  margin-right: 10vw;
}

#guardar-asistencias-boton {
  font-size: xx-large;
}

.toast {
  background-color: #1f849c;
  border-radius: 2px;
}

.btn {
  background-color: #1f849c;
}


[type="checkbox"].filled-in:checked+span:not(.lever)::after {
  background-color: #1f849c;
  border: 2px solid #3f91a5;
}

.tabs {
  font-size: 4vh;
  height: 7vh;
}

.responsivelogo {
  max-width: 95vw;
}

#floating-btn {
  background-color: #1f849c;
}

.Fila-alumno-block {
  background-color: #af5552b7;
  color: #dad9d5
}

.greyicons {
  color: #dad9d5
}

#chargin-mode {
  height: .2vh;
  margin-bottom: 1vh;
}

#titulo-encuentro {
  color: #9f283b;
  background-color: #dad9d5;
}

.breadcrumb:last-child {
  color: #1f849c;
  font-weight: bold;
}

.modal {
  max-width: 90vw !important;
  max-height: 80vh !important;
}