.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  width: 100%
}

.Comision {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 1rem;
}

.Comision-table {
  margin: .5em;
  padding: .5em;
}

td {
  padding: 1em;
}

.porcentajeAsistencia {
  font-size:normal;
  padding: 1rem;
}

.porcentajeToShow {
  color: crimson;
  font-size:larger;
  font-weight:normal;
}

.card-panel {
  padding: 2rem;
}

.tealRed {
  background-color: #9f283b !important;
}

.tealGreen {
  background-color: #1f849c !important;
}

.image-logo {
  margin: .5rem;
  max-width: 10rem;
  max-height: 10rem;
}

.nav-wrapper {
  background-color: #dad9d5;
}

#nav-var-web {
  color: #9f283b;
}

#nav-var-mob {
  color: #dad9d5;
  font-weight: no;
  font-size: large;
  margin: 5% 5% 0 0;
} 

#boton-save-attendance {
  margin-top: 3rem;
}

.titulo-tabla {
padding: .2rem;
margin: .2rem;
color: #1f849c;
font-weight: bolder;
text-align: center;
justify-content: center;
}

.sidenav {
  background-color: #1f849c;
  border-radius: 0 0 100% 0;
}

