.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: .1px;
  font-family: Lato, sans-serif;
  font-size: calc(10px + 2vmin);
  width: 100%
}

.Comision {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 0.1rem;
}

.comision-table-body {
  margin-bottom: 0%;
}

.Comision-table {
  padding: 5vh;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

#columna-check {
  padding-left: 10.5vw;
}

#columna-apellidonombre {
  padding-top: 1.5vh;
  padding-left: 10.5vw;
}

#descripcion-asistencias {
  padding-left: 7.5vw;
}

#descripcion-estudiante {
  padding-left: 10.5vw;
}

#descripcion-edicion-estudiante {
  text-align: center !important;
}

#descripcion-edicion-estudiante-editar {
  text-align: center !important;
}

.porcentajeAsistencia {
  font-size: normal;
  padding: 1rem;
}

.porcentajeToShow {
  color: crimson;
  font-size: larger;
  font-weight: normal;
}

.parametro-tabla {
  font-weight: bold;
  padding-left: 4vw;
}


@media (max-width: 800px) {
  .parametro-tabla {
    font-size: large;
  }
}

.parametro-schedulertask {
  margin: 4vh;
}

@media (max-width: 800px) {
  .card-panel {
    margin-left: .1vw;
    margin-right: .1vw;
    padding: 4vh;
    font-size: 3.5vw;
  }
}

@media (max-width: 800px) {
  .block-icon {
    font-size: revert;
  }
}

@media (max-width: 800px) {
  .check-icon {
    font-size: 3.5vw;
  }
}

@media (min-width: 800px) {
  .card-panel {
    padding: 2vw;
    font-size: 1vw;
  }
}

@media (min-width: 800px) {
  .block-icon {
    font-size: 1.75vw;
  }
}

@media (min-width: 800px) {
  .check-icon {
    font-size: 1.75vw;
  }
}

.card-alumno {
  margin-bottom: .5vh !important;
}


.tealRed {
  background-color: #9f283b !important;
  border-radius: 10px;
}

.tealGreen {
  background-color: #1f849c !important;
  border-radius: 10px;
}

.image-logo {
  margin: .5rem;
  max-width: 10rem;
  max-height: 10rem;
}

.nav-wrapper {
  background-color: #dad9d5;
  border-bottom: 2px solid #1f849c;
}

.bodytitulo {
  padding-top: 0%;
  margin-top: 0%;
  text-align: center;
  font-size: 3dvw;
  width: 100vw;
  background-color: #eeeeee;
}

.breadcrumb-main {
  background-image: url(./images/trama_fondo.png);
}

#nav-var-web {
  color: #9f283b;
}

#nav-var-mob {
  color: #dad9d5 !important;
  font-size: large;
  margin: 5vw -2.5vh;
}

.dropdownPassAtendanceMob {
  background-color: #eeeeee;
  margin-left: -5vw;
  margin-top: 3vh;
}

.dropdownComisionEditMob {
  background-color: #eeeeee;
  margin-left: -5vw;
  margin-top: 5vh;
}

.dropdownComisionEditMob ul {
  margin-top: 4vh;
  background-color: #2397b4;
}


.dropdownPassAtendanceMob ul {
  margin-top: 3vh;
  background-color: #2397b4;
}

.dropdownChangeStudentCourse {
  background-color: #eeeeee;
  margin-bottom: 23vh;
  font-size: medium;
}

.dropdown-top-row {
  margin-top: -7vh;
}

.dropdown-upper-row {
  margin-bottom: -10vh;
}

.dropdown-change-course-list {
  margin-top: -14vh !important;
}

.sidenav li {
  color: #dad9d5;
  margin-left: 0;
  background-color: #1f849c;
}

.sidenav li>a {
  color: #dad9d5;
  margin: .01vh;
  background-color: #1f849c;
  font-size: large;
}

.hide-on-med-and-down {
  width: 79vw;
}

#boton-save-attendance {
  margin-top: 3rem;
  height: 7vh;
  width: 66vw;
  background-color: #1f849c;
}

@media (min-width: 800px) {
  #boton-save-attendance {
    width: 20vw;
  }
}

#boton-change-daycheck {
  color: #ffffff;
  font-weight: bolder;
  height: 5vh;
  width: 15vw;
  margin-bottom: .1vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #1f849c;
  border: 2px solid#1f849c;
  border-bottom-width: 0px;
}

#boton-change-daycheck:focus {
  background-color: #fde5e9;
  color: #1f849c;
}

#boton-change-daycheck:hover {
  background-color: #9f283b;
  color: #ffffff;
}

.titulo-tabla {
  padding: 2rem;
  margin: .4rem .1rem 0rem .1rem;
  color: #1f849c;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  background-color: #eeeeee;
  border: 2px solid#1f849c;
}

.comsion-table-title {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sidenav {
  background-color: #1f849c;
  border-radius: 0 0 100% 0;
  height: 100vh;
}

.breadcrumb {
  color: #9f283b;
  font-size: 2.2vh;
}

.dropdown-trigger {
  color: #9f283b;
  display: flex;
  flex-wrap: wrap;
}

.navbar-item {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-content {
  color: #1f849c;
  font-weight: normal;
  top: -11vh;
}

.dropdown-content li>a,
.dropdown-content li>span {
  color: #fde5e9;
  background-color: #1f849c;
}

.dropdown-content li>a:hover,
.dropdown-content li>span:hover {
  background-color: #9f283b;
}

.passAttendanceTable {
  width: 75vw;
}

#editComisionTable {
  width: 80vw;
  font-size: small;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}

#guardar-asistencias-boton {
  font-size: xx-large;
}

btn-flat:focus {
  background-color: #ffffff00;
}

[type="checkbox"].filled-in:checked+span:not(.lever)::after {
  background-color: #1f849c;
  border: 2px solid #3f91a5;
}

.tabs {
  font-size: 4vh;
  height: 7vh;
}

.responsivelogo {
  max-width: 95vw;
}

#floating-btn {
  background-color: #1f849c;
}

.Fila-alumno-block {
  background-color: #9f283b;
  color: #dad9d5
}

.greyicons {
  color: #dad9d5
}

#chargin-mode {
  height: .2vh;
  margin-bottom: 1vh;
}

#titulo-encuentro {
  color: #eeeeee;
  background-color: #eeeeee;
  margin-top: unset;
}

@media (min-width: 800px) {
  .breadcrumb:last-child {
    color: #1f849c;
    font-weight: bold;
    font-size: 5vh;
  }
}

@media (max-width: 800px) {
  .breadcrumb:last-child {
    color: #1f849c;
    font-weight: bold;
    font-size: 2vh;
    background-color: #eeeeee;
  }
}

.modal {
  max-width: 80vw !important;
  max-height: 80vh !important;
  border-radius: 15px;
  border: 3px solid #9f283b;
}

.modal-content {
  color: #000000 !important;
}

.modal-footer {
  background-image: url(./images/trama_fondo.png);
}

#lupasearch {
  color: #9f283b;
}

.textSchedulerTask {
  color: #1f849c;
  font-weight: bold;
  max-width: 90vw !important;
  max-height: 20vh !important;
  padding-left: 1vh;
  margin-left: 1vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

@media (max-width: 800px) {
  .textSchedulerTask {
    font-size: 12px;
  }
}

.iconSchedulerTask {
  color: #9f283b;
  background-color: #dad9d5;
  border-radius: 100%;
  font-weight: bold;
  margin-right: 2vh;
  padding: 1.5vh;
}

@media (max-width: 800px) {
  .iconSchedulerTask {
    font-size: 20px;
  }
}

.hourTask {
  font-size: larger;
  font-style: oblique;
  text-align: center;
  margin: 1vh;
  color: #9f283b;
  border: 2px solid#1f849c;
  padding: 2vh;
}


@media (max-width: 800px) {
  .hourTask {
    margin: 10px;
    font-size: 16px;
    padding: .8vh;
  }
}

.studentSearchInput {
  border-radius: 20px;
}

.input-field input[type=search]:focus:not(.browser-default) {
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #444;
  height: 60px;
  border-radius: 2%;
}

#course-destiny-field{
  margin-top: 5vh;
}

.result-list {
  width: 100%;
  color: #9f283b;
  background-color: #1f839c33;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #999898;
  border-radius: 5px;
  margin-top: 1vh;
  max-height: 300px;
  overflow-y: scroll;
}

.search-result {
  padding: 0 0 0.1vh 0.1vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: .5vw;
  font-size: small;
}

.search-result :hover {
  background-color: #efefef;
}

.resultsearchname {
  padding-top: 0.1vh;
  padding-bottom: 0.1vh;
}

.search-page {
  margin-top: 0vh;
}

.to-notify {
  width: 80%;
  margin: auto;
}

@media (max-width: 800px) {
  .to-notify .card {
    width: 80vw;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 5vh;
    font-weight: bolder;
    border-radius: 2%;
    background-image: url(./images/trama_fondo.png);
    border-style: double;
    border-color: #1f849c;
  }
}


@media (min-width: 800px) {
  .to-notify .card {
    width: 38vw;
    float: left;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 1vw;
    border-radius: 2%;
    background-image: url(./images/trama_fondo.png);
    border-style: double;
    border-color: #1f849c;
  }
}

.card-image .logo {
  opacity: 0.15;
}

@media (max-width: 800px) {
  .card-content {
    font-size: 4vw;
  }
}

.dont-notify {
  background-color: #9f283b;
}

.email-card-container {
  display: flex;
  align-items: center;
  padding: 1vw;
}

.email-modal{
  margin-bottom: -6vh;
}

#modal-title {
  text-align: justify;
  color: #9f283b;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    padding-left: 50vw;
    left: 23%;
  }
}

nav ul a {
  padding: 0 10px;
}

.hamburguer-color {
  color: #9f283b;
}

.sidenav li>a>i,
.sidenav li>a>[class^="mdi-"],
.sidenav li>a li>a>[class*="mdi-"],
.sidenav li>a>i.material-icons {
  margin-right: 15px;
}

.course-container {
  background-image: url(./images/trama_fondo.png);
  color: #9f283b;
  width: 95vw;
  height: auto;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-color: #1f849c;
  margin: auto;
  border-style: double;
  margin-bottom: 1.5vh;
}

@media (min-width: 800px) {
  .course-container {
    padding: 4.5vh;
  }
}


@media (max-width: 800px) {
  .course-container {
    padding-bottom: 2vh;
  }
}

.absent-message {
  margin: 7vh;
}

.absentmessage-container {
  padding: 7vh;
  background-color: #dad9d5;
}

.scheduler-task-title {
  padding: 3vh;
  font-size: x-large;
}

.cards-absents-container {
  margin-top: 10vh;
}

.md-toast.error {
  background-color: red !important;
}

.md-toast.success {
  background-color: green !important;
}

.percentEditOption {
  padding: 2vh;
  background-color: #dad9d5;
  font-size: 2.5vh;
  border-radius: 5px;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .attended-title {
    font-size: 1.75vh;
    font-weight: bold;
  }
}

.vhmargintop {
  margin-top: 1vh;
}

#textarea-body {
  height: 20vh;
}

#mail_outline {
  font-size: 6vh;
}

.titulo-emailaenviar {
  background-color: #eeeeee;
  width: 100vw;
  padding: 3vh;
  text-align: center;
}

.label-course-id {
  font-size: xx-large;
}

.waves-effect.waves-teal .waves-ripple {
  background-color: #2397b421;
  ;
}

@media (min-width: 800px) {
  .white-text {
    padding: 0px !important;
    font-size: large;
  }
}


@media (max-width: 800px) {
  .white-text {
    padding: 0px !important;
    font-size: x-small;
  }
}

@media (max-width: 800px) {
  .white-text.col.s5 {
    width: 40% !important;
  }

  .white-text.col.s2 {
    width: 20% !important;
  }
}

.course-container-title {
  display: inline-flex;
  margin-bottom: 5vh;
}

.survey {
  width: 100vw;
  margin-bottom: 5vh;
}

@media (min-width: 800px) {
  .body-survey {
    width: 35vw;
    margin-left: 20vh;
    margin-right: 20vh;
  }
}

@media (max-width: 800px) {
  .body-survey {
    margin-left: 5vh;
    margin-right: 5vh;
  }
}

.title-survey-param {
  margin-top: 5vh;
  margin-bottom: 2vh;
}

@media (max-width: 800px) {
  #boton-survey {
    margin-top: 5vh;
    margin-left: 10vw;
    height: 50px;
    background-color: #1f849c;
  }
}

@media (min-width: 800px) {
  #boton-survey {
    margin-top: 5vh;
    margin-left: 5vw;
    height: 50px;
    background-color: #1f849c;
  }
}

[type="radio"]:checked+span::after,
[type="radio"].with-gap:checked+span::after {
  background-color: #1f849c;
}

[type="radio"]:checked+span::after,
[type="radio"].with-gap:checked+span::before,
[type="radio"].with-gap:checked+span::after {
  border: 2px solid #1f849c;
}

[type="radio"]:checked+span::after,
[type="radio"].with-gap:checked+span::before,
[type="radio"].with-gap:checked+span::after {
  border: 2px solid #1f849c;
}

[type="radio"]:checked+span::after,
[type="radio"].with-gap:checked+span::after {
  background-color: #1f849c;
}


[type="checkbox"]:checked+span:not(.lever)::before {
  border-right: 2px solid #1f849c;
  border-bottom: 2px solid #1f849c;
}

#boton-emailcheck {
  background-color: #1f849c !important;
}

.file-field {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

#course-file-field {
  width: 10vw;
  margin-left: 45vw;
  margin-right: 45vw;
  font-size: small;
}

#tutor-file-field {
  width: 50vw;
  margin-left: 25vw;
  margin-right: 25vw;
  font-size: small;
}

.uploadfiles {
  background-color: #1f849c;
}

.uploadfiles:hover,
select:hover {
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 .25vw #1f849c;
  background-color: grey;
}

@media (min-width: 800px) {
  .studentToUpload {
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    font-size: small;
  }
}

@media (max-width: 800px) {
  .studentToUpload {
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    font-size: xx-small
  }
}

.titulo-tabla-alumnos-upload {
  margin-top: 10vh;
  border-style: groove;
  padding: 5vh;
  background-image: url(./images/trama_fondo.png);
  font-weight: bolder;
  color: #9f283b;
}

.red-app {
  background-color: #9f283b;
}

.upload-csv-info {
  margin-top: 10vh;
  color: #9f283b;
  font-weight: bolder;
}

.thanksForSubmitSurvey{
  margin-top: 50vh;
  left: 50vh;

}