.mycard {
    width: 70vw;
    height: 50vh;
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
}

#botonLogin {
    color: white;
    background-color: #9f283b;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 2vh;
    box-shadow: 5px 4px 4px rgba(255, 0, 0, 0.24);
}

#H5Register {
    text-align: end;
    margin-top: 3vh;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
}

#linkRegister {
    color: #1f849c;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.logo-login {
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
    margin-bottom: 5vh;

}

@media (max-width: 800px) {
    #inputLogin {
        width: 50.5vw;
        height: 4.5vh;
        color: white;
        background-color: #1f849c;
        padding: 1vh;
        padding-left: 1.75vh;
        border-radius: 5px;
        margin: .5vh;
    }
}

@media (min-width: 800px) {
    #inputLogin {
        width: 39vw;
        height: 5.5vh;
        color: white;
        background-color: #1f849c;
        padding: 1vh;
        border-radius: 5px;
        margin: .5vh;
        font-size: x-large;
    }
}

@media (max-width: 800px) {
    #inputLoginPass {
        width: 45vw;
        color: white;
        background-color: #1f849c;
        padding: 1.5vh;
        border-radius: 5px;
        margin: .5vh;
        height: 3.5vh;
    }
}

@media (min-width: 800px) {
    #inputLoginPass {
        width: 33vw;
        color: white;
        background-color: #1f849c;
        padding: 2vh;
        border-radius: 5px;
        margin: .5vh;
        height: 3.5vh;
        font-size: x-large;
    }
}

#inputLoginPass:focus,
select:focus {
    border-color: black;
    box-shadow: 0 0 0 .25vw #9f283b;
}

#inputLogin:focus,
select:focus {
    border-color: black !important;
    box-shadow: 0 0 0 .25vw #9f283b !important;
}

#inputLoginPassWidth {
    margin-bottom: .5vh;
}

@media (max-width: 800px) {
    #btnLoginPass {
        padding-top: 1.5vh;
        padding-left: 0;
        width: 5vw;
        height: 3vh;
        margin-bottom: auto;
        background-color: rgba(255, 255, 255, 0);
        border-width: 0;
        color: #9f283b;
    }
}

@media (min-width: 800px) {
    #btnLoginPass {
        padding-top: 1.5vh;
        padding-left: 0;
        width: 5vw;
        height: 8vh;
        margin-bottom: auto;
        background-color: rgba(255, 255, 255, 0);
        border-width: 0;
        color: #9f283b;
    }
}

#fondoTarjeta {
    border-radius: 15px;
    padding-bottom: 2vh;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #1f849c;
    border: 2px solid #3f91a5;
    box-shadow: 5px 4px 4px #3f91a5(255, 2, 2, 0.50);
}

.tarjetaLogin {
    background-color: #dad9d5;
}

.tarjetaSignUp {
    background-color: #dad9d5;
}

.main-login-register {
    background-image: url(./images/trama_fondo.png);
    min-height: 108vh;
    min-width: 100vw;
}

::placeholder {
    color: rgb(255, 255, 255);
}

/*
.loginRegisterCards {
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

@media (max-width: 800px) {
    .warning-sign {
        font-size: 16px;
    }

    #inputLogin {
        font-size: 15px;
    }
}

.iconblack {
    color: black;
}

.red-app{
    background-color: #9f283b;
}

#hover-btn:hover{
    border: 1px solid #888;
    background-color: #ddd;
  }